.container {
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
}

.inner-container {
    height: 100%;
    width: 100%;
    background-color: #eee;
    overflow: hidden;
}

.container img {
    opacity: 0.2;
    width: 100%;
}

.right-sidebar {
    position: absolute;
    /*background: red;*/
    top: 0;
    left: 0%;
    width: 100%;
    /*transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    -ms-transform-origin: left top;
     transform: rotate(90deg); 
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);*/
}

.right-sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 40px;
    /*text-align: center;*/
}

.right-sidebar ul li {
    display: inline-block;
    /*float: left;
    transform: rotate(90deg);
	transform-origin: left top 0;*/
}

.right-sidebar ul li span {
    display: block;
    line-height: 20px;
    padding: 10px;
    font-family: 'Poiret One', cursive;
    color: #171717;
}

#canvas {
    width: 100%;
    height: 100%;
}

#name {
    position: absolute;
    top: 50%;
    left: 80px;
    font-size: 30px;
    font-family: 'Bungee Hairline', cursive;    
}